@model IEnumerable<WEBSITEDIENTHOAI.Models.HOADON>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDgiohang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sluongdat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tongdonhang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDgiohang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sluongdat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tongdonhang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDhoadon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDhoadon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDhoadon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
