@model IEnumerable<WEBSITEDIENTHOAI.Models.CTSANPHAM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDsanpham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tensp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuongHieu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDsanpham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tensp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuongHieu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDctsanpham">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDctsanpham">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDctsanpham">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
