@model IEnumerable<WEBSITEDIENTHOAI.Models.MAUSAC>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenmausac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDctsanpham)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenmausac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDctsanpham)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDmausac">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDmausac">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDmausac">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
